@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f0a501 #1b1a17;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #1b1a17;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0a501;
  border-radius: 10px;
  border: 3px none #ffffff;
}